<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= productName %>">
    <meta property="og:description" content="<%= productDescription %>">
    <meta property="og:image" content="https://maxiride.github.io/pf2e-encounters/og-image.png">
    <meta property="og:url" content="https://maxiride.github.io/pf2e-encounters/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= productName %>">
    <meta name="twitter:description" content="<%= productDescription %>">
    <meta name="twitter:image" content="https://maxiride.github.io/pf2e-encounters/og-image.png">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <% if (ctx.prod) { %>
    <!-- Analytics -->
    <script defer src="https://analytics.federicod.dev/script.js" data-website-id="fed631bc-1e9e-4f59-85ed-e9ad20615ee1"></script>
    <% } %>
  </head>
  <body>
    <!-- quasar:entry-point -->
    <script
      data-name="BMC-Widget"
      data-cfasync="false"
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
      data-id="maxiride"
      data-description="Support me on Buy me a coffee!"
      data-message="Tip me"
      data-color="#581911"
      data-position="Right"
      data-x_margin="18"
      data-y_margin="18"
    ></script>
  </body>
</html>
